Flask==2.2.5
Flask-Session==0.5.0
gunicorn==20.1.0
Jinja2==3.1.2
pymongo==4.3.3
requests==2.25.1
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.6
Werkzeug==2.3.4
xdg==5
yarg==0.1.9
zipp==1.0.0
