.login-container {
    
    background-image: url('');
    background-repeat: no-repeat, repeat;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
   
    
}

input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
}

input[type=email] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
}


.login-form-1 {
    padding: 6%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border:#333;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.btnSubmit {
    width: 12%;
    border-radius: 1.5rem;
    padding: 1.5%;
    border:none;
    cursor: pointer;
    align-content: center;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #000000;
}

.login-form-1 h2 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

