.login-container {

    background-image: url('');
    background-repeat: no-repeat, repeat;
    
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
}

input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgb(51, 48, 48);
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.btnSubmit {
    width: 20%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    align-content: center;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #000000;
}

.login-form-1 h2 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.login-form-1 .ForgetPwd {
    color: #121313;
    font-weight: 600;
    text-decoration: wavy;
}
:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}
.select{
    left: 7.5cm;
    width: 5cm;
    height: 1cm;
}
.label{
    text-align: start;
}

