{% extends 'student_base.html' %}

{% block student %}
    <a href="{{url_for('student',roll=data['roll'])}}"><h1><b>STUDENT PAGE</b></h1></a>
{% endblock %}

{% block appointments %}
    <a href="{{url_for('appointments',roll=data['roll'])}}"><b>Appointments</b></a>
{% endblock %}

{% block status %}
    <a href="{{url_for('status',roll=data['roll'])}}"><b>Status</b></a>
{% endblock %}

{% block change_password_stu %}
    <a href="{{url_for('change_password_stu',roll=data['roll'])}}">change password</a>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/change_password.css')}}">
<div style="text-align: center;">
    <h2 align="center">
        <br><br>
        Change Password
        <br><br>
    </h2>
    <div class="container">
        <form class="container" method="POST">
            <div class="form-group" align="center">
                <input type="password" class="form-control" placeholder="Old Password " id="pass1" name="old_password" value="" required>
                <br>
                <input type="password" class="form-control" placeholder="New Password " id="pass2" name="new_password" value="" required>
                <br>
                <input type="password" class="form-control" placeholder="Confirm Password " id="pass3" name="confirm_password" value="" required>
            </div>
            <input type="checkbox" onclick="myfun1()">Show Password
            <div class="form-group">
                <br>
                <input type="submit" class="btnSubmit" styel="color: black !important" value="Submit">
            </div>
            
        </form>
    </div>
</div>
<script>
    function myfun1()
    {
        var x=document.getElementById("pass1");
        var y=document.getElementById("pass2");
        var z=document.getElementById("pass3");
        if(x.type==="password")
        {
            x.type="text";
            y.type="text";
            z.type="text";
        }
        else
        {
            x.type="password";
            y.type="password";
            z.type="password";
        }
    }
</script>
{% endblock %}