{% extends 'faculty_base.html' %}

{% block ap_link %}
    <a href="{{url_for('faculty',user_name=data['user_name'])}}"><h1><b>FACULTY PAGE</b></h1></a>
{% endblock %}

{% block sel_slot %}
    <a href="{{url_for('select_slot',user_name=data['user_name'])}}"><b>Appointments</b></a>
{% endblock %}

{% block can_slot %}
    <a href="{{url_for('cancel_slot',user_name=data['user_name'])}}"><b>Cancel slot</b></a>
{% endblock %}

{% block change_password_fac %}
    <a href="{{url_for('change_password_fac',user_name=data['user_name'])}}">change password</a>
{% endblock %}

{% block edit_profile %}
    <a href="{{url_for('edit_profile',user_name=data['user_name'])}}">Edit profile</a>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/change_password.css')}}">
<div style="text-align: center;">
    <h2 align="center">
        <br><br>
        <b>Change Password</b>
        <br><br>
    </h2>
    <div class="container">
        <form class="container" method="POST">
            <div class="form-group" align="center">
                <input type="password" class="form-control" placeholder="Old Password " id="pass1" name="old_password" value="" required>
                <br>
                <input type="password" class="form-control" placeholder="New Password " id="pass2" name="new_password" value="" required>
                <br>
                <input type="password" class="form-control" placeholder="Confirm Password " id="pass3" name="confirm_password" value="" required>
            </div>
            <input type="checkbox" onclick="myfun1()">Show Password
            <div class="form-group">
                <br>
                <input type="submit" class="btnSubmit" styel="color: black !important" value="Submit">
            </div>
            
        </form>
    </div>
</div>
<script>
    function myfun1()
    {
        var x=document.getElementById("pass1");
        var y=document.getElementById("pass2");
        var z=document.getElementById("pass3");
        if(x.type==="password")
        {
            x.type="text";
            y.type="text";
            z.type="text";
        }
        else
        {
            x.type="password";
            y.type="password";
            z.type="password";
        }
    }
</script>
{% endblock %}