{% extends 'student_base.html' %}

{% block student %}
    <a href="{{url_for('student',roll=data['roll'])}}"><h1><b>STUDENT PAGE</b></h1></a>
{% endblock %}

{% block appointments %}
    <a href="{{url_for('appointments',roll=data['roll'])}}"><b>Appointments</b></a>
{% endblock %}

{% block status %}
    <a href="{{url_for('status',roll=data['roll'])}}"><b>Status</b></a>
{% endblock %}

{% block change_password_stu %}
    <a href="{{url_for('change_password_stu',roll=data['roll'])}}">change password</a>
{% endblock %}

{% block content %}
    
    <div class="sidenav">
        <div class="profile">
            <img src="/static/images/NITC_logo.jpg" alt="" width="100" height="auto">

            <div class="name">
                NIT Calicut
            </div>
            <div class="job">
                Faculty
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">Profile</a>
                <hr align="center">
            </div>
            
        </div>
    </div>

    <!-- End -->
    
    <!-- Main -->
    
       
        <div class="main">
        <form method="post" id="form1">
            <div class="card">
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td><b>Name :</b></td>
                                <td>{{data["teacher"]["name"]}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Email :</b></td>
                                <td>{{data["teacher"]["email"]}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Subjects :</b></td>
                                <td>{{data["teacher"]["subjects"]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        </div>
        <!-- End -->
        <h3 class="title">Schedule</h3>
        <br><br><br>
        <div class="app-time">
            <div>
                <label style="text-align: center;" for="sel1" class="form-label">Select a day:</label>
                <br>
                <select style="width: 2.8cm; height:0.6cm;" class="form-select" id="sel1" name="day">
                    {% for day1,day2 in {"-":"-","mon":"Monday","tue":"Tuesday","wed":"Wednesday","thu":"Thursday","fri":"Friday"}.items() %}
                        {% if day1 in data["s_schedule"] %}
                            <option value={{day1}} disabled>{{day2}}</option>
                        {% else %}
                            <option value={{day1}}>{{day2}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br><br>
            </div>
            <script>
                $(document).ready(function()
                {
                    $("#sel1").on('change',function()
                    {
                        var _day_=$(this).val();
                        if(!_day_)
                        {
                            _day_="mon";
                        }
                        $("div.days").hide();
                        $("#"+_day_).show();                        
                    });
                });
            </script>
            <div></div>

            {% set flag="false" %}
            {% for day in ["mon","tue","wed","thu","fri"] %}
                {% if day in data["s_schedule"] %}
                    {% set flag="true" %}
                {% endif %}
            {% endfor %}
        
            <div class="today">
                {% for day in ["mon","tue","wed","thu","fri"] %}
                    <div class="days" style="display: none" id={{day}}>
                        <p><b>Timings (9:00 AM to 12:00 PM)</b></p>
                        <div class="app-check">
                            {% for slot in ["8","9","10","11","12"] %}
                                {% if slot in data["t_sched"][day] %}
                                    <input type="radio" class="option-input radio" name="slot" value={{slot}} />
                                {% else %}
                                    <input type="radio" class="option-input radio" name="slot" value={{slot}} disabled />
                                {% endif %}
                                <div class="app-border">
                                    <label class="app-label">{{slot}}:00 AM</label>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <p><b>Timings (1:00 PM to 5:00 PM)</b></p>
                        <div class="app-check">
                            {% for slot in ["1","2","3","4","5"] %}
                                {% if slot in data["t_sched"][day] %}
                                    <input type="radio" class="option-input radio" name="slot" value={{slot}} />
                                {% else %}
                                    <input type="radio" class="option-input radio" name="slot" value={{slot}} disabled />
                                {% endif %}
                                <div class="app-border">
                                    <label class="app-label">{{slot}}:00 PM</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </form>
            <br>
                <button style="align-content: center; left:10cm;" class="sub-butt" type="submit" form="form1" value="Submit">Submit</button>
        </div>
{% endblock %}